body {
    background: #7d7d7d;
    
}
#header{
    display: flex;
    background: #252525;
        height: 50px;
}
#logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto 10%;
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    
}
.menu-box { 
    background: #252525;
    height: 50px;
} 
.menu{
    gap: .5rem;
    display: flex;
    position: absolute;
    right: 0;
    margin: 5px 10%;
} 
.menu li{
    display: inline;
    padding: 0 0 0 30px;
}
.menu a{
    display: block;
    padding: .5rem;
    font-family: 'Gemunu Libre', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.menu a:hover {
    color: gold;
    transition: 200ms;
}
#btn-mobile{
    display: none;
}

@media (max-width: 710px) {
#btn-mobile{
    display: block;
}
.menu {
    display: none;
}
}

/* Grid Css */

.container{
    max-width: 1650px;
    margin: 30px auto;
    display: grid;
    grid-gap: 20px;
    
    grid-template-areas: 
    "item item item item item"
    "item item item item item"
    "item item item item item"
    "item item item item item"
    "footer footer footer footer footer";
}
@media (max-width: 1400px) {
    .container{
        margin: 20px 30px;
        grid-template-areas: 
        "item item item item"
        "item item item item"
        "item item item item"
        "item item item item"
        "item item item item"
        "footer footer footer footer";
    }
}
@media (max-width: 800px) {
    .container{
        margin: 20px 30px;
        grid-template-areas: 
        "item item"
        "item item"
        "item item"
        "item item"
        "item item"
        "item item"
        "item item"
        "item item"
        "item item"
        "item item"
        "footer footer";
    }
}
@media (max-width: 500px) {
    .container{
        margin: 20px 30px;
        grid-template-areas: 
        "item"
        "item"
        "item"
        "item"
        "item"
        "item"
        "item"
        "item"
        "item"
        "footer";
    }
}
img{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
}
img:hover {
    transition: 250ms;
    opacity: 90%;
}
.item{
    margin: 0 auto;
    width: 300px;
    height: 300px;

    background: white;
    border-radius: 5px;
    grid-area: "item";
}
section a{
    text-align: justify;
    text-transform: uppercase;
    font-family: 'Gemunu Libre', sans-serif;
    text-decoration: none;
    color: black;
}   
section p{
    margin: 10px;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
}
section p:hover {
    color: orange;
    font-size:101%;
}
button {
    border-radius: 10px;
    background: #252525;
    height: 30px;
    margin: 30px 25%;
    width: 50%;
    display: block;
}
button a{
    padding: 10px 30%;
    color: white;
}
button:hover {
    border: none;
    background: gold;
    transition: 500ms;
}
button:active {
    border: none;
    background: black;
}
.footer{
    width: 100%;
    height: 300px;
    background: #252525;
    grid-area: "footer";
    grid-column: footer;
}